.pokeHome {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    background: url(../../../public/assets/bg_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokeHome__banner {
    padding-top: 20px;
    width: 350px;
}

.pokeHome__decoration {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dfdfdfc2;
    padding: 20px;
    border-radius: 2%;
    gap: 15px;
    box-shadow: 1px 0px 7px 1px #0affebce;
}

.pokeHome__decoration :hover {
    transform: scale(1.02);
    transition: tranform 1s;
    box-shadow: .5s;
}

.pokeHome__container {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../../../public/assets/cuadro_dialogo_original.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pokeHome__container h1 {
    font-size: 2.2rem;
    font-style: italic;
    color: black;
    text-shadow: 4px 4px 8px cyan;
}

.pokeHome__container span {
    font-size: 1rem;
    font-weight: 450;
}

.pokeHome form {
    width: 80%;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeHome input {
    border: 1px solid #dfdfdf;
    background-color: #070707;
    height: 2.5rem;
    padding-left: 5px;
    color: cyan;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    width: 70%;
    border-radius: 5px 0 0 5px;
}

.pokeHome__btn {
    font-style: italic;
    color: cyan;
    background-color: black;
    border: none;
    height: 2.5rem;
    width: 30%;
    font-size: 1.3rem;
}