.pokedex {
     width: 100vw;
     height: 100vh;
     padding-top: 110px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-image: url('https://p4.wallpaperbetter.com/wallpaper/420/552/983/pokemon-go-4k-hd-pic-wallpaper-preview.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     opacity: 0.9;
 }
 
 .pokedex__info {
     min-width: 250px;
     width: 80%;
     min-height: 100px;
     max-height: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     row-gap: 10px;
     border: 1px solid none;
     border-radius: 13px;
     background: url(../../../assets/cuadro_dialogo_original.png);
     background-color: rgb(186, 252, 252);
     background-position: center;
     background-size: 100% 100%;
     background-repeat: no-repeat;
 }
 
 .pokedex__info h2 {
     width: 80%;
     max-width: 100%;
     line-height: 1;
     text-align: center;
     font-size: 1.2rem;
     color: black;
 }
 
 .pokedex__title {
     color: #080808;
     text-shadow: 4px 4px 8px cyan;
     font-size: 1.5rem;
     line-height: 1;
 }
 
 .pokedex__form {
     width: 95%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 15px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 .pokedex__form form {
     width: 40%;
     min-width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px 0 0 5px;
     box-shadow: 0px 2px 2px .01px cyan;
 }
 
 .pokedex__form select {
     min-width: 300px;
     width: 40%;
     height: 2.5rem;
     font-style: italic;
     font-weight: 500;
     color: rgba(0, 255, 255, 0.74);
     border: 1px solid #dfdfdf;
     background-color: #0a0101;
     box-shadow: 0px 2px 2px .01px cyan;
 }
 
 .pokedex__form input {
     border: 1px solid #dfdfdf;
     background-color: black;
     height: 2.5rem;
     padding-left: 5px;
     color: cyan;
     font-family: inherit;
     font-weight: 600;
     font-size: 1.2rem;
     width: 70%;
     border-radius: 5px 0 0 5px;
 }
 
::placeholder {
     color: cyan;
     font-style: italic;
     opacity: 0.5;
}

 .pokedex__form button {
     font-style: italic;
     color: black;
     background-color: rgba(0, 255, 255, 0.671);
     border: none;
     height: 2.5rem;
     width: 30%;
     font-size: 1.3rem;
 }
 
 .pokedex__pagination {
     display: flex;
 }
 
 .pagination {
     max-width: 300px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 
 .pagination__btn {
     color: cyan;
     background-color: #080102;
     border: none;
     height: 2.5rem;
     width: 50px;
     font-size: 1.3rem;
     transition: background-color 0.3s ease-in-out;
 }
 
 .pagination__btn:hover {
     background-color: rgba(0, 255, 255, 0.247);
     border: 2px solid black;
 }
 
 .pagination__item button {
     background-color: rgb(45, 226, 226);
     color: black;
     border: none;
     height: 2.5rem;
     width: 50px;
     font-size: 1.3rem;
     transition: background-color 0.3s ease-in-out;
 }
 
 .pagination__item button:hover {
     background-color: rgba(10, 250, 250, 0.589);
     border: 2px solid black;
 }
 
 .pokedex__container {
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     gap: 10px;
     max-height: 800px;
     overflow-y: auto;
     overflow-x: hidden;
 }