.pokecard {
     background-color: rgb(166, 222, 248);
     position: relative;
     width: 250px;
     border: 5px solid;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     transition: 0.3s ease-in-out;
 }
 
 .pokecard:hover {
     background-color: rgba(189, 184, 184, 0.527);
     transform: scale(0.7);
     color: black;
 }
 
 .pokecard:hover .pokecard__img {
     transform: scale(2);
 }
 
 .pokecard:hover h3 {
     position: fixed;
     top: 350px;
     transform: scale(3);
     max-width: max-content;
     text-align: center;
 }
 
 .pokecard h3 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: 0.3s ease-in-out;
 }
 
 .pokecard__gray {
     color: #0a0909;
 }
 
 .pokecard__back {
     position: absolute;
     width: 100%;
     height: 100px;
     border-radius: 10px 10px 0 0;
 }
 
 .pokecard__img {
     width: 70%;
     z-index: 2;
     transition: 0.3s ease-in-out;
 }
 
 .pokecard__types {
     display: flex;
 }
 
 .pokecard hr {
     width: 90%;
     margin: 10px 0;
    background: #000;
 }
 
 .slot2::before {
     content: "/";
     margin: 0 5px;
 }
 
 .pokecard__stats {
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     gap: 10px;
     padding-bottom: 20px;
     font-weight: 600;
 }
 
 .pokecard__stats li {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .pokecard__name {
     width: max-content;
     background: black;
     padding: 5px;
     font-weight: 600;
     font-size: 12px;
     font-style: italic;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 /* ==>> colores <<==*/
 
 .normal {
     background: url(../../../../public/assets/decoration/01_normal.svg);
     background-position: center;
     background-size: cover;
 }
 
 .fighting {
     background: url(../../../../public/assets/decoration/02_fighting.svg);
     background-position: center;
     background-size: cover;
 }
 
 .flying {
     background: url(../../../../public/assets/decoration/03_flying.svg);
     background-position: center;
     background-size: cover;
 }
 
 .poison {
     background: url(../../../../public/assets/decoration/04_poison.svg);
     background-position: center;
     background-size: cover;
 }
 
 .ground {
     background: url(../../../../public/assets/decoration/05_ground.svg);
     background-position: center;
     background-size: cover;
 }
 
 .rock {
     background: url(../../../../public/assets/decoration/06_rock.svg);
     background-position: center;
     background-size: cover;
 }
 
 .bug {
     background: url(../../../../public/assets/decoration/07_bug.svg);
     background-position: center;
     background-size: cover;
 }
 
 .ghost {
     background: url(../../../../public/assets/decoration/08_ghost.svg);
     background-position: center;
     background-size: cover;
 }
 
 .steel {
     background: url(../../../../public/assets/decoration/09_steel.svg);
     background-position: center;
     background-size: cover;
 }
 
 .fire {
     background: url(../../../../public/assets/decoration/10_fire.svg);
     background-position: center;
     background-size: cover;
 }
 
 .water {
     background: url(../../../../public/assets/decoration/11_water.svg);
     background-position: center;
     background-size: cover;
 }
 
 .grass {
     background: url(../../../../public/assets/decoration/12_grass.svg);
     background-position: center;
     background-size: cover;
 }
 
 .electric {
     background: url(../../../../public/assets/decoration/13_electric.svg);
     background-position: center;
     background-size: cover;
 }
 
 .psychic {
     background: url(../../../../public/assets/decoration/14_psychic.svg);
     background-position: center;
     background-size: cover;
 }
 
 .ice {
     background: url(../../../../public/assets/decoration/15_ice.svg);
     background-position: center;
     background-size: cover;
 }
 
 .dragon {
     background: url(../../../../public/assets/decoration/16_dragon.svg);
     background-position: center;
     background-size: cover;
 }
 
 .dark {
     background: url(../../../../public/assets/decoration/17_dark.svg);
     background-position: center;
     background-size: cover;
 }
 
 .fairy {
     background: url(../../../../public/assets/decoration/18_fairy.svg);
     background-position: center;
     background-size: cover;
 }
 
 /* <<== modificador bordes ==>> */
 
 .pokecard--normal {
     border-color: #585c58;
 }
 
 .pokecard--fighting {
     border-color: #ffa600;
 }
 
 .pokecard--flying {
     border-color: #81b9ef;
 }
 
 .pokecard--poison {
     border-color: #8f41cb;
 }
 
 .pokecard--ground {
     border-color: #8f4c1adc;
 }
 
 .pokecard--rock {
     border-color: #9e9e9ee1;
 }
 
 .pokecard--bug {
     border-color: #91a119;
 }
 
 .pokecard--ghost {
     border-color: #704170;
 }
 
 .pokecard--steel {
     border-color: #60a1b8;
 }
 
 .pokecard--fire {
     border-color: red;
 }
 
 .pokecard--water {
     border-color: blue;
 }
 
 .pokecard--grass {
     border-color: #28a00d;
 }
 
 .pokecard--electric {
     border-color: yellow;
 }
 
 .pokecard--psychic {
     border-color: #ef4179;
 }
 
 .pokecard--ice {
     border-color: #3fd8ff;
 }
 
 .pokecard--dragon {
     border-color: #5061e1;
 }
 
 .pokecard--dark {
     border-color: black;
 }
 
 .pokecard--fairy {
     border-color: #ef71ef;
 }
 
 /* ==>> colores de los textos <<== */
 
 .cardname--normal {
     color: #585c58;
 }
 
 .cardname--fighting {
     color: #FF8000;
 }
 
 .cardname--flying {
     color: #81b9ef;
 }
 
 .cardname--poison {
     color: #8f41cb;
 }
 
 .cardname--ground {
     color: #915121;
 }
 
 .cardname--rock {
     color: gray;
 }
 
 .cardname--bug {
     color: rgb(83, 131, 12);
 }
 
 .cardname--ghost {
     color: #704170;
 }
 
 .cardname--steel {
     color: #60a1b8;
 }
 
 .cardname--fire {
     color: red;
 }
 
 .cardname--water {
     color: blue;
 }
 
 .cardname--grass {
     color: green;
 }
 
 .cardname--electric {
     color: yellow;
 }
 
 .cardname--psychic {
     color: fuchsia;
 }
 
 .cardname--ice {
     color: #3fd8ff;
 }
 
 .cardname--dragon {
     color: #5061e1;
 }
 
 .cardname--dark {
     color: white;
 }
 
 .cardname--fairy {
     color: #ef71ef;
 }